<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Checkbox</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./css/global.css" />
		<link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
	</head>
	<body id="app">
		<main>
			<div class="component">
				<header>
					<component-navigation
						:components="components"
						@set-active="active = $event"
					></component-navigation>
				</header>
				<section>
					<div class="component_example">
						<input
							type="checkbox"
							class="elm-checkbox"
							id="checkboxexample"
							checked
							value=""
							:indeterminate="indeterminate"
							:disabled="disabled"
						/>
						<label
							v-if="displayLabel === 'true'"
							class="elm-label"
							for="checkboxexample"
							>Label</label
						>
					</div>
				</section>
			</div>
			<div class="options">
				<details
					class="cmp-accordion"
					data-emphasis="high"
					:open="optionsClosed ? false : true"
				>
					<summary @click="optionsOpen=!optionsOpen">
						Konfigurationen
					</summary>
					<fieldset class="row">
						<legend>Label</legend>
						<fieldset>
							<input
								name="displayLabel"
								type="radio"
								class="elm-radio"
								id="displaylabel01"
								v-model="displayLabel"
								value="true"
							/>
							<label class="elm-label" for="displaylabel01"
								>Mit Label</label
							>
						</fieldset>
						<fieldset>
							<input
								name="displayLabel"
								type="radio"
								class="elm-radio"
								id="displaylabel02"
								v-model="displayLabel"
								value="false"
							/>
							<label class="elm-label" for="displaylabel02"
								>Ohne Label</label
							>
						</fieldset>
					</fieldset>

					<!--<fieldset class="row">
							<legend>Größen</legend>
				<fieldset>
				<input name="size" type="radio" class="elm-radio " id="radio02" v-model="size" value="regular">
				<label class="elm-label" for="radio02">Regular</label>
				</fieldset>
				<fieldset>
				<input name="size" type="radio" class="elm-radio " id="radio03" v-model="size" value="large">
				<label class="elm-label" for="radio03">Large</label>
				</fieldset>
			</fieldset>-->

					<fieldset class="row">
						<legend>State</legend>
						<fieldset>
							<input
								type="checkbox"
								class="elm-checkbox"
								id="disabled"
								v-model="disabled"
							/>
							<label class="elm-label" for="disabled"
								>Disabled</label
							>
						</fieldset>
						<fieldset>
							<input
								type="checkbox"
								class="elm-checkbox"
								id="indeterminate"
								v-model="indeterminate"
							/>
							<label class="elm-label" for="indeterminate"
								>Indeterminate</label
							>
						</fieldset>
					</fieldset>

					<h4 v-if="computedLink != ''">Design Preview</h4>
					<fieldset class="row" v-if="computedLink != ''">
						<a
							:href="computedLink"
							title="Sketchlink"
							target="_blank"
							class="sketchlink"
						>
							Open in Sketch
						</a>
					</fieldset>
				</details>
			</div>
		</main>

		<!-- Import App -->
		<script src="./js/vue/vue.global.prod.js"></script>
		<script src="./js/checkbox.js"></script>
		<script src="./js/demo-components.js"></script>
		<script>
			const mountedApp = app.mount("#app");
		</script>
		<script src="js/iframeResizer.contentWindow.js"></script>
	</body>
</html>
