<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Dialog</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./css/global.css" />
		<link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
	</head>
	<body id="app">
		<main class="large">
			<div class="component">
				<header>
					<component-navigation
						:components="components"
						@set-active="active = $event"
					></component-navigation>
				</header>
				<section>
					<div class="component_example">
						<a
							href="#dialog01"
							class="elm-link"
							title="Title text"
							@click="toggleVisibility"
							>Dialog öffnen</a
						>
						<dialog id="dialog01" class="cmp-dialog" :open="opened">
							<header>
								<h2 class="elm-headline" id="dialog01">Modal</h2>
								<a
									href="#"
									class="elm-link is-close"
									title="Close the dialog"
									@click="toggleVisibility"
									>Close</a
								>
							</header>
							<main>
								<p>
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
									diam nonumy eirmod tempor invidunt ut labore et dolore magna
									aliquyam erat, sed diam voluptua. At vero eos et accusam et
									justo duo dolores et ea rebum. Stet clita kasd gubergren, no
									sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
									ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
									nonumy eirmod tempor invidunt ut labore et dolore magna
									aliquyam erat, sed diam voluptua. At vero eos et accusam et
									justo duo dolores et ea rebum. Stet clita kasd gubergren, no
									sea takimata sanctus est Lorem ipsum dolor sit amet.
								</p>
							</main>
							<footer :data-alignment="alignment">
								<button
									class="elm-button"
									data-variant="secondary"
									title="Title text"
									type="button"
								>
									Secondary
								</button>
								<button
									class="elm-button"
									data-variant="brand-primary"
									title="Title text"
									type="button"
								>
									Primary
								</button>
							</footer>
						</dialog>
					</div>
				</section>
			</div>
			<div class="options">
				<details
					class="cmp-accordion"
					data-emphasis="high"
					:open="optionsClosed ? false : true"
				>
					<summary @click="optionsOpen=!optionsOpen">Konfigurationen</summary>
					<fieldset class="row">
						<legend>Button Alignment</legend>
						<fieldset>
							<input
								name="alignment"
								type="radio"
								class="elm-radio"
								id="radio01"
								v-model="alignment"
								value="null"
							/>
							<label class="elm-label" for="radio01">Default</label>
						</fieldset>
						<fieldset>
							<input
								name="alignment"
								type="radio"
								class="elm-radio"
								id="radio02"
								v-model="alignment"
								value="end"
							/>
							<label class="elm-label" for="radio02">Rechts ausgerichtet</label>
						</fieldset>
					</fieldset>

					<h4 v-if="computedLink != ''">Design Preview</h4>
					<fieldset class="row" v-if="computedLink != ''">
						<a
							:href="computedLink"
							title="Sketchlink"
							target="_blank"
							class="sketchlink"
						>
							Open in Sketch
						</a>
					</fieldset>
				</details>
			</div>
		</main>

		<!-- Import App -->
		<script src="./js/vue/vue.global.prod.js"></script>
		<script src="./js/dialog.js"></script>
		<script src="./js/demo-components.js"></script>
		<script>
			const mountedApp = app.mount("#app");
		</script>
		<script src="js/iframeresizer.contentwindow.min.js"></script>
	</body>
</html>
